<div class="jumbotron col-md-8 col-md-offset-2">
	<div class="container-fluid col-md-10 col-md-offset-1">
		<h1>Come Out And Jam</h1>
		<p>Search for events by artist or location</p>
		<div class="row-fluid">
			<%= form_for(:static_pages, :url => artists_path, :html => { :method => :get, :class => "form-group form-inline" }) do |f| %>

			<%= f.label 'Artist', class: "sr-only"%>
			<%= f.text_field 'artist', class: "form-control", placeholder: "Enter Artist" %>

			<%= f.submit "Submit", class: "btn btn-large btn-primary" %>

			<% end %>
		</div>

		<div class="row-fluid">
			<%= form_for(:static_pages, :url => events_path, :html => { :method => :get, :class => "form-group form-inline" }) do |f| %>

			<%= f.label 'Zipcode', class: "sr-only"%>
			<%= f.text_field 'zipcode', class: "form-control", placeholder: "Enter Zip Code" %>

			<%= f.submit "Submit", class: "btn btn-large btn-primary" %>

			<% end %>
		</div>
	</div>
</div>