<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger"><%= pluralize(@user.errors.count, "error") %> in form:</div>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li> * <%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "sr-only" %><br />
    <%= f.text_field :name, class: "form-control", placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "sr-only" %><br />
    <%= f.text_field :email, class: "form-control", placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "sr-only" %><br />
    <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "sr-only" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Password Confirmation' %>
  </div>

  <%= f.submit "Create Account", class: "btn btn-large btn-primary btn-block" %>

<% end %>