<%= form_for(:session, url: sessions_path) do |f| %>

	<div class="form-group">
		<%= f.label :email, class: "sr-only" %>
		<%= f.text_field :email, class: "form-control", placeholder: 'Email' %>
	</div>

	<div class="form-group">
		<%= f.label :password, class: "sr-only" %>
		<%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
	</div>

	<%= f.submit "Submit", class: "btn btn-large btn-primary btn-block" %>
<% end %>
<br>
<%= link_to "New user? Sign up now!", signup_path, class: "btn btn-large btn-default btn-block" %>