<ul class="list-group">
    <% @events.each do |event| %>
        <li class="list-group-item">
            <div>
                <h4><strong><%= event['Venue']['Name'] %></strong></h4>
                <%= event['Venue']['City'] %><br>
                <%= Time.parse(event['Date']).strftime("%b %d, %Y") %><br>
                <%= Time.parse(event['Date']).strftime("%l:%M %p") %><br><br>

                <h5>All Artists Performing: </h5>
                <% event['Artists'].each do |artist| %>
                    <%= artist['Name'] %><br>
                <% end %>

                <br>
                <div class="row-fluid">
                    <%= button_to "Get Tickets", event['TicketUrl'], class: "btn btn-info" %>
                    <% if signed_in? %>
                        <%= button_to "Add to favourites", events_path(event), method: :post, class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </li>
    <% end %>
</ul>