<% if @events %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><%= @events_for_text %></h3>
        </div>
        <ul class="list-group">
            <% @events.each do |event| %>
                <li class="list-group-item">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4><strong><%= event['Venue']['Name'] %></strong></h4>
                            <%= event['Venue']['City'] %><br>
                            <%= Time.parse(event['Date']).strftime("%b %d, %Y") %><br>
                            <%= Time.parse(event['Date']).strftime("%l:%M %p") %><br><br>

                            <h5>All Artists Performing: </h5>
                            <% event['Artists'].each do |artist| %>
                                <%= artist['Name'] %><br>
                            <% end %>
                        </div>
                        <div class="panel-footer">
                            <% if signed_in? %>
                                <%= button_to "Add to favourites", events_path(event), method: :post, class: "btn btn-primary btn-block" %>
                            <% end %>
                            <%= link_to "Get Tickets", event['TicketUrl'], class: "btn btn-default btn-block" %>
                        </div>
                    </div>
                </li>
            <% end %>

            <% if @events.empty? %>
                <li class="list-group-item"><h2 class="text-center">Sorry, no results</h2></li>
            <% end %>
        </ul>
    </div>
<% else %>
    <h2 class="text-center">Sorry, no results</h2>
<% end %>